body {
    background: none !important;
    font-family: Antonio, sans-serif!important;
}



#quitter:hover{
    opacity: 0.6;
}

.read img{
    opacity: 0.3;
}

#delete{
    z-index: 90000;
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 100%;
}

.across {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 50px;
    cursor: pointer;
    width: 120px;
}

.icon_notif{
    width: 120px;
}

.btn-danger {
    background-color: #8c1c26!important;
    border-color: #841d16!important;
}

.deposit:hover strong {
    color: red!important;
}

.ql-editor {
    max-height: 48vh;
}
.ql-container {
    height: auto!important;
}

.notifications {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.notification {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
    font-family: 'Raleway', sans-serif;
	padding: 1.5rem;
}
.notification .title {
    font-family: Antonio, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
}
.notification .text {
	font-size: 1.1vw;
    font-family: 'Raleway', sans-serif;
}
.redm {
    background: linear-gradient(217deg, rgb(0 0 0 / 80%), rgba(255, 0, 0, 0) 70.71%), 
    linear-gradient(127deg, rgb(0 0 0 / 80%), rgba(0, 255, 0, 0) 70.71%), 
    linear-gradient(336deg, rgb(0 0 0 / 80%), rgba(0, 0, 255, 0) 70.71%);
    letter-spacing: 2px;
}
.redm_min {
    background-color: transparent;
    letter-spacing: 2px;
}
.redm_3d {
    background-color: transparent;
    transform: perspective(500px) rotateY(15deg);
}
.redm_kill {
    background-color: transparent;
}
.redm_prompt {
    background-color: transparent;
}
.smallicon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* Animations */
@-webkit-keyframes rotating{
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
/*
*   POSITIONS OF SCREENS
*/
/* Top of screens */
.top_large {
    position: absolute;
    top: 8%;
    width: 100%;
    left: 0;
}
.top_left {
    position: absolute;
    left: 20px;
    top: 8%;
}
.top_right {
    position: absolute;
    right: 20px;
    top: 8%;
}
.top_center {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%,-50%);
}
/* Center of screens */
.center_large {
    position: absolute;
    width: 100%;
    bottom: 50%;
    left: 0;
}
.center_right {
    position: absolute;
    right: 20px;
    bottom: 50%;
}
.center_left {
    position: absolute;
    left: 20px;
    bottom: 50%;
}
.center_center {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
/* Bottom of screens */
.bottom_large {
    position: absolute;
    width: 100%;
    bottom: 8%;
    left: 0;
}
.bottom_right {
    position: absolute;
    right: 20px;
    bottom: 8%;
}
.bottom_left {
    position: absolute;
    left: 20px;
    bottom: 8%;
}
.bottom_center {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%,-50%);
    z-index: 950000;
}

input[type="number"] { border: 0px; border-radius: 0px !important; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { display: none; opacity: 0; }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgb(8 8 8);
  box-shadow:0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(8 8 8);
  outline: 0 none;
}

.offcanvas-backdrop {
    background-color: #0000!important;
}

.fond{
    background: url('./design/menu_header_1a.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;
}

.title_craft, .yourpost{
    top: -8px;
    position: relative;
}

.btn-danger{
    border-radius: 0px!important;
    border:0;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.6;
}

.btn-danger:hover{
  opacity: 0.8;
}

input{
    border-radius: 0!important;
    background: #212529!important;
    border: 0!important;
    color: white!important;
}

.input-group-text {
    border-radius: 0!important;
    border: 0!important;
    background: #8c1c26!important;
    color: white!important;
    font-weight: 800;
}

.yourpost{
    font-family: Antonio, sans-serif;
    font-size: 16px;
    color:white;
    margin-bottom: 2rem;
    text-align: center;
}

.yourpost #yourpost{
    color:red;
}


.post_office{
    background:url('./design/post_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem 2rem;
    border-radius: 5px;
}


.menu_crafting{
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 650px;
    max-width: 650px;
    background-image:url('./design/redm.png');
    background-size: cover;
    background-position: bottom right;
}

.right_sidebar{
    position: relative;
    min-width: 650px;
    max-width: 850px;
    color:white;
    background-image:url('./design/redm.png');
    background-size: cover;
    background-color: transparent!important;
    background-position: bottom left;
}


.letter_line{
    background:#212529;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
}

#cook_recipes{
    position: relative;
    left: -8px;
}


.title_craft{
    margin-top:2rem;
    margin-bottom: 2rem;
    font-family: Antonio, sans-serif;
    font-size: 45px;
    text-align: center;
    color:white;
}

#letters_content{
    user-select: none;
}


.cat_block{
    background-image:url('./design/redm_ui.jpg');
    background-size: cover;
    background-position: center;
    color:white;
    padding: 6rem;
}

#editor{
    border-radius: 0!important;
    background: #212529!important;
    border: 0!important;
    color: white!important;
}

.ql-toolbar.ql-snow{
    background:white;
}

.ql-hidden{
    display: none!important;
}

.offcanvas-header svg{
    z-index: 1500;
}

#show_msg {
    position: absolute;
    top: 0px;
    left: 10px;
    min-width: 100%;
    max-width: 100%;
    word-break: break-all;
    padding: 1rem;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #cb0000;
}
::-webkit-scrollbar-track {
    background: #0f161d;
}